#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>; /* tune to taste */
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        zellij_tab_left: zellij_tab_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(SPACE)>,
                <&macro_tap>,
                <&kp H>,
                <&macro_release>;

            label = "ZELLIJ_TAB_LEFT";
        };

        zellij_tab_right: zellij_tab_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LC(SPACE)>,
                <&macro_tap>,
                <&kp L>,
                <&macro_release>;

            label = "ZELLIJ_TAB_RIGHT";
        };

        zellij_left: zellij_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LC(H)>, <&macro_release>;

            label = "ZELLIJ_LEFT";
        };

        zellij_down: zellij_down {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LC(J)>, <&macro_release>;

            label = "ZELLIJ_DOWN";
        };

        zellij_up: zellij_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LC(K)>, <&macro_release>;

            label = "ZELLIJ_UP";
        };

        zellij_right: zellij_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press>, <&kp LC(L)>, <&macro_release>;

            label = "ZELLIJ_RIGHT";
        };
    };

    combos {
        compatible = "zmk,combos";

        zellij_tab_left {
            bindings = <&zellij_tab_left>;
            key-positions = <16 18 15>;
        };

        zellij_tab_right {
            bindings = <&zellij_tab_right>;
            key-positions = <16 15 21>;
        };

        zellij_left {
            bindings = <&zellij_left>;
            key-positions = <14 16 18>;
        };

        zellij_down {
            bindings = <&zellij_down>;
            key-positions = <14 16 19>;
        };

        zellij_up {
            bindings = <&zellij_up>;
            key-positions = <14 16 20>;
        };

        zellij_right {
            bindings = <&zellij_right>;
            key-positions = <14 16 21>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp GRAVE      &kp Q             &kp W           &kp F        &kp P               &kp B        &kp J      &kp L       &kp U        &kp Y            &kp SEMICOLON      &kp LEFT_BRACKET
&kp ESCAPE     &hm LEFT_SHIFT A  &hm LEFT_ALT R  &hm LCTRL S  &hm LEFT_COMMAND T  &kp G        &kp M      &hm RGUI N  &hm RCTRL E  &hm RIGHT_ALT I  &hm RIGHT_SHIFT O  &kp SINGLE_QUOTE
&kp BACKSLASH  &kp Z             &kp X           &kp C        &kp D               &kp V        &kp K      &kp H       &kp COMMA    &kp DOT          &kp FSLH           &kp RIGHT_BRACKET
                                                 &lt 2 MINUS  &kp BACKSPACE       &lt 1 TAB    &kp ENTER  &kp SPACE   &kp EQUAL
            >;
        };

        NAV {
            display-name = "NavNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&trans      &trans  &trans          &kp UP_ARROW    &browsertab      &kp PG_UP        &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&caps_word  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans      &trans  &trans          &trans          &trans           &trans           &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                                    &trans          &trans           &trans           &trans  &kp N0  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp K_PREVIOUS     &kp K_PLAY_PAUSE  &kp K_NEXT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp K_VOLUME_DOWN  &kp K_VOLUME_UP   &kp K_MUTE  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp C_BRI_DEC      &kp C_BRI_INC     &trans      &trans  &trans
                        &trans  &trans  &trans    &trans  &trans             &trans
            >;
        };
    };
};
